body {
  background-color: rgb(194, 194, 194);
  font-family: Arial, sans-serif;
}

.heading {
  color: rgb(8, 0, 255);
  text-align: center;
  margin-top: 20px;
}

.img {
  width: 200px;
  border-radius: 8px;
  margin-bottom: 10px;
}

.card {
  width: 200px;
  border: 1px solid black;
  margin: 20px;
  box-shadow: 4px 3px 11px 0px grey;
  padding: 10px;
  text-align: center;
  border-radius: 10px;
  background-color: white;
}

.mainDiv {
  display: flex;
  flex-wrap: wrap;
}
